<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST" action="submit">
            <center>
            <h1> Registration form</h1>
            Enter name: <input name="username" type="text">
            <br>
            <br>
            Enter password: <input type="password" name="pass" required>
            <br>
            <br>
            Enter email: <input name="email" type="email">
 <br>
            <br>
            Enter Phone: <input name="phone" type="text">
 <br>
            <br>
            Enter dob: <input type="date" name="dob">
            <br>
            <br>
            <button>submit</button>
            </center>
        </form>
    </body>
</html>